/*Import Web Fonts below here*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* .kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .kanit-extralight {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .kanit-light {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-semibold {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .kanit-#black {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .kanit-thin-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .kanit-extralight-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .kanit-light-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .kanit-regular-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .kanit-medium-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .kanit-semibold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .kanit-bold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .kanit-extrabold-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .kanit-#222222-italic {
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;} */

/*Start code below here*/

/* Desktop Styles */

/* BASE ROOT */

* html {
    font-size: 100%;
}

* body {
    font-family: "Kanit", sans-serif;
    color: black;
}

/* Typography */

h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 2.98em;
}

h2 {
    font-size: 2.48em;
    line-height: 1em;
    text-transform: capitalize;
    margin-top: 20px;
    display: inline;
    border-bottom: solid 4px white;
    padding-bottom: 10px;
    letter-spacing: 1x;
}

h3 {
    font-size: 2.07em;
}

h4 {
    font-size: 1.72em;
}
h2, h3, h4 {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-style: normal;
}

h5 {
    font-size: 1.44em;
}

h6 {
    font-size: 1.2em;
}

h5,h6 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;    
}

p {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    margin-top: 20px;

}

/* Margin Top is 40px and left and right is auto */
.container {
    width: 100%;
    margin: 40px, auto;
}

/*Navigation */

.navigation {
    background-color: #222222;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 0;
    height: max-content;
    /*border: yellow solid;*/
    
}

.search-section {
    flex: 1;
    text-align: right;
    /*border: red solid ;*/
    width: 100vw;
    padding: 10px;
}

.lcbo-logo-section {
    /*border: pink solid;*/
    width: 95vw;
    text-align: center;
    padding-top: 40px;
}

.logo {
    max-height: 40px;
    max-width: auto;
    /*border: green solid;*/
    margin: auto;
  }

  .logo:hover {
    opacity: .7;
  }

.nav-bar {
    /*border: orange solid;*/
    width: 90vw;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 15px;
}

ul.nav-list {
    display: flex;
    /*border: purple solid;*/
    flex-direction: row;
    text-align: center;
    
}

ul {
    list-style-type: none;
}

li {
    flex: 1;
    font-size: 112%;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    border-bottom:solid 4px rgb(255, 255, 255);
    padding-bottom: 10px;
}

/*Navigation End*/

/*DIVIDE SPACER*/
.divide{
    margin-bottom: 20px;
}

/*Hero Section*/

#hero-wrapper {
    width:100%;
    background-color: white;
}

#hero {
    width: 80%;
    height: 80vh;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 160px 0 100px 0;
}

#hero h1{
    color: #222222;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#hero h1 span {
    font-size: .4em;
    font-weight: 200;
}

#hero p {
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;

}

/*CHEVRON ICON*/

.fa-chevron-down {
    margin-top: 60px;
}

#chevron {
    color: #222222;
}

#chevron :hover {
    opacity: .5;
}
/*ANIMATION*/

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-15 17:20:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  /*LOGO & BRANDING SECTION*/

#branding-wrapper {
    width: 100%;
    background-color: #222222;
}

#branding {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#branding h2{
    color: #ffffff;
    border-bottom: solid 4px #ffffff;
}

#branding p{
    color: #ffffff;
    max-width: 650px;
    padding: 20px 0;
}

.branding-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
}

#branding-tile {
    width: 80%;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

#logo-description h3{
    color: #222222;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#logo-description p {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-weight: 50;
    color: #f0f0f0;
    padding-bottom: 100px;

}

.branding-logo {
    margin-top: 100px;
    margin-bottom: 20px;
    height: 90px;
    width:fit-content;
}


/*COLOUR SECTION*/

#colours-wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#colours {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#colours h2{
    border-bottom: solid 4px #222222;
}

#colours p{
    max-width: 650px;
    padding: 20px 0;
}

.colours-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
}

.colours-tile {
    height: 160px;
}

.hex {
    display: block;
    height: 50px;
    margin-top: 180px;
    text-align: center;
    line-height: 50px;
    color: black;
}

#hex-white {
    color: #222222;
}

#black {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #222222;
    border: solid 2px #222222;
    border-radius: 4px;
}

#white {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #ffff;
    border: solid 2px #22222231 ;
}

#grey {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #d3d3d3;
}

#light-grey {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #ebebeb;
}

#cream {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: #faf5f0;
}

/*TYPOGRAPHY SECTION*/

#typography-wrapper {
    width: 100%;
    background-color: #222222;
    color: #ffffff;
}

#typography {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#type-text{
    max-width: 650px;
}

#typography p{
    padding: 20px 0;
}

.typography-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
}

.typography-description {
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
}

#scale p{
    text-align: center;
}


/*GRID SECTION*/

#grid-wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

#grids {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#grids h2{
    border-bottom: solid 4px #222222;
}

#grids p{
    max-width: 650px;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
    color: #222222;
}

.grid-container > div {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #d3d3d3;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10, .item-11, .item-12 {
    font-variant-numeric: diagonal-fractions;
    color: #ffffff;
}

.item-1 {
    grid-column-start: 1;
    grid-column-end: 13;
}

.item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
}

.item-3 {
    grid-column-start: 7;
    grid-column-end: 13;
}

.item-4 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.item-5 {
    grid-column-start: 5;
    grid-column-end: 9;
}

.item-6 {
    grid-column-start: 9;
    grid-column-end: 13;
}

.item-7 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item-8 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.item-9 {
    grid-column-start: 7;
    grid-column-end: 10;
}

.item-10 {
    grid-column-start: 10;
    grid-column-end: 13;
}

.item-11 {
    grid-column-start: 1;
    grid-column-end: 10;
}

.item-12 {
    grid-column-start: 10;
    grid-column-end: 13;
}

/*BUTTONS & LINKS SECTION*/

#buttons-wrapper {
    width: 100%;
    background-color: #222222;
}

#buttons {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#buttons h2{
    color: #ffffff;
    border-bottom: solid 4px #ffffff;
}

#buttons p{
    color: #ffffff;
    max-width: 650px;
    padding: 20px 0;
}

.buttons-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    padding: 10px;
    text-align: center;
}

#buttons-tile {
    width: 80%;
    text-align: center;
    margin: auto;
    overflow: hidden;
}

#add-to-cart {
    width: fit-content;
    height: 50px;
    padding: 5px 100px;
    font-size: 1.5em;
    font-family: "kanit", sans-serif;
    background-color: #222222;
    color: #ffffff;
}

#add-to-cart:hover {
    background-color: #d3d3d3;
    color: #222222;
}

/*ICONOGRAPHY SECTION*/

#iconography-wrapper {
    width: 100%;
    background-color: #222222;
}

#iconography {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#iconography h2{
    border-bottom: solid 4px #222222;
}

#iconography p{
    max-width: 650px;
    padding: 20px 0;
}

/*DISPLAY CARD*/

#displaycard-wrapper {
    width: 100%;
    background-color: #222222;
}

#displaycard {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 140px 0 180px 0;
}

#displaycard h2{
    color: #ffffff;
    border-bottom: solid 4px #ffffff;
}

#displaycard p{
    color: #ffffff;
    max-width: 650px;
    padding: 20px 0;
}

/*Breakpoints go below here*/
@media screen and (max-width: 600px)

{


   
   
   
}
   
  
